.content_left{
    width: 20%;
    float: left;
    display: block;
    overflow: hidden;
}
.content_left a{
    float: none;
    display: block;
    text-decoration:none;
    padding-top: 5px;
    padding-bottom:5px ;
    color: white;
    margin-top: 10px;
}
.content_left a:hover{
    background-color: green;
    color: yellow;
}
.content_right{
    width: 73%;
    float: right;
}
.content_left img{
    width: 100%;
}
.content_right img{
    width: 33%;
}
.product{
    width: 22.5%;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.product img{
    width: 100%;
}
@media screen and (max-width: 800px) {
    .product{
        float: none;
        width: 100%;
    }
    .content_left{
        width: 100%;
        float: none;
        
    }
    .content_left h2{
        width: 100%;
        text-align: center;
    }
    .content_left a{
        float: left;
        padding: 10px;
       
    }
    .content_right{
        width: 100%;
        margin: 5px;
    }
    }
.product img:hover{
    transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
.product h4{
    margin-top: 5px;
    padding: 0px;
}
.product p{
    margin: 2px;
    padding: 0;
}
